; Hallo, ich bin `lbrk-1.rc' und jetzt lebendig
;
0 Ich weiss ich bin ein kurzer Text
0 Ich hoffe ich bin lang genug~hier, ein Zeilenumbruch~\
und noch einer~und nun zum letzten Mal...
0 Ich hoffe ich bin auch lang genug^hier, ein Zeilenumbruch\
~und noch einer^und nun zum letzten Mal...
0 Bin ich ein kurzer Text? Weiss nicht...
