; Ich bin wahrhaftig sehr speziell :)
;
0 1. Heute ist %>1u*K , %>02&*D  %U  %Y !
0 2. Es ist der %>03&*N  Tag des Jahres.
0 3. Die aktuelle Wochennummer ist: %k .
0 4. Gegenwaertig ist es %t*  Uhr, Herr %-USER .
0 5. Beeilen Sie sich mit ihrer Arbeit,~\
   denn Sonnenaufgang ist um %o+5158+00738+61,2: .
