0 BANG BANG
0 bogus
0         bogomips
0    \hallo welt
0    \ main(){for(;;)fork();}
0 \     sh $0 & $0 &
0    \  a  \  b  \\  c  \\\  d
0    Was passiert nun?\
~0  \  Dieses!
0    Was passiert nun?\\
~0  \  Jenes!
