*.*~
*/Makefile
*/Makefile.in
.version
/ABOUT-NLS
/GNUmakefile
/build-aux
/maint.mk
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
doc/en/gcal.info
doc/mksamp
doc/mksamp-1.sed
doc/mksamp-2.sed
install-inf
m4
misc/daily/daily
misc/ddiff/ddiff
misc/ddiff/ddiffdrv
misc/dst/dst
misc/gcalltx/gcalltx
misc/gcalltx/gcalltxp
misc/moon/moon
misc/mrms/mrms
misc/srss/srss
misc/wloc/wlocdrv
po/*.gmo
po/*.po
po/.gitignore
po/.reference/
po/LINGUAS
po/Makefile
po/Makefile.in
po/Makevars
po/POTFILES
po/gcal.pot
po/stamp-po
src/*.o
src/.deps/
src/Makefile
src/Makefile.in
src/gcal
src/gcal2txt
src/tcal
src/txt2gcal
stamp-h1
